<p id="notice"><%= notice %></p>
<div class="content">
  <div class="container">
    <div class="main">
      <h1><%= @header %></h1>
      <h2>Articles Tagged with Concept: </h2>
      <%= render 'shared/article_table' %>
    </div>
  </div>
</div>
